@media only screen and (min-width:1500px){
    .card-page {
        display: flex;
      flex-direction: row;
      padding: 3rem;
    }
}

.wrapper {
    position: relative;
    perspective: 40rem;
    display: grid;
    transform-style: preserve-3d;
    margin: 2rem;
    text-align: center;

  }
  
  .card {
    grid-area: 1 / 1;
    height: 15rem;
    width: 30rem;
    transform: translateX(1rem) rotateY(25deg) rotateX(10deg);
    background-image: url("./assets/ape1.jpg");
    background-color: rgb(255, 251, 4, 0.2);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
    padding-left: 30%;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    backface-visibility: hidden;
    box-shadow: 0 1rem 3rem -1rem rgba(243, 243, 4, 1);
  }
  .card1 {
    grid-area: 1 / 1;
    height: 15rem;
    width: 30rem;
    transform: translateX(1rem) rotateY(25deg) rotateX(10deg);
    background-image: url("./assets/ape2.jpg");
    background-color: rgb(255, 251, 4, 0.2);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
    padding-left: 50%;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    backface-visibility: hidden;
    box-shadow: 0 1rem 3rem -1rem rgba(243, 243, 4, 1);
  }
  .card2 {
    grid-area: 1 / 1;
    height: 15rem;
    width: 30rem;
    transform: translateX(1rem) rotateY(25deg) rotateX(10deg);
    background-image: url("./assets/ape3.jpg");
    background-color: rgb(255, 251, 4, 0.2);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
    padding-left: 50%;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    backface-visibility: hidden;
    box-shadow: 0 1rem 3rem -1rem rgba(243, 243, 4, 1);
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .card .enclosed {
    background: rgba(249, 198, 26, 0);
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding-left: 30%;
    padding-right: 0.1rem;
    display: inline-block;
    transform: translate(-0.5rem, 0.5rem) scale(0.85);
    transform-origin: right center;
    font-size: 2rem;
  }
  
  .card1 .enclosed {
    background: rgba(249, 198, 26, 0);
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding-left: 30%;
    padding-right: 0.1rem;
    display: inline-block;
    transform: translate(-0.5rem, 0.5rem) scale(0.85);
    transform-origin: right center;
    font-size: 2rem;
  }
  .card2 .enclosed {
    background: rgba(249, 198, 26, 0);
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding-left: 30%;
    padding-right: 0.1rem;
    display: inline-block;
    transform: translate(-0.5rem, 0.5rem) scale(0.85);
    transform-origin: right center;
    font-size: 2rem;
  }
  .wrapper:before {
    --bw: 0.6rem;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 30rem;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-6rem) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid rgb(255, 251, 4);
    box-sizing: content-box;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: grid;
    place-items: center;
  }